doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/PointerLockControls.js')
  body#screen
    block content
    script(src='/js/connector.js')
    script(src='/js/control.js')
    script(src='/js/imagestream.js')